BOT_TOKEN=your_new_telegram_bot_token_here
ADMIN_IDS=8908955171,5446536002
PAYMENT_BINANCE_ID=850566283
ORDER_COST=10
REF_BONUS=1
DB_PATH=bot.db
FORCE_JOIN_TARGETS=@gemini_pixel_vr|Gemini Pixel VR|https://t.me/gemini_pixel_vr|true;@free_internet_config_bd|Free Internet Config BD|https://t.me/free_internet_config_bd|true;@gemini_vr_Chat|Gemini VR Chat|https://t.me/gemini_vr_Chat|true
